<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CO11N.Properties.Settings.rptsvrDBConnectionString"
        connectionString="Data Source=SBSDB;Initial Catalog=rptsvrDB;Persist Security Info=True;User ID=rptsvrDB;Password=adminrp"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
